<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.turtle.dao.SysLogDao">  
 	
 	<!-- 通过id来删除对应的日志信息 -->
    <delete id="deleteObjects">
        delete from sys_logs
        where id in 
        <foreach collection="ids" open="(" separator="," close=")" item="id">
        	#{id}
        </foreach>
    </delete>
    
</mapper>
