<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.turtle.dao.SysUserDao">

	<!-- 封装的查询信息，通过模糊查询的where模块 -->
	<sql id="queryWhereId">
		<where>
			<if test="username != null and username != ''">
				username like concat("%",#{username},"%")
			</if>
		</where>
	</sql>

	<!-- 通过部门id来查询在其部门中的员工数 -->
	<select id="getUserCountByDeptId" resultType="int">
		select count(*)
		from sys_users
		where deptId = #{deptId}
	</select>

	<!-- 返回结果映射，我们使用部门id来得出数据 -->
	<resultMap type="com.turtle.vo.SysUserDeptVo"
		id="sysUserDeptVo">
		<association property="sysDept" column="deptId"
			select="com.turtle.dao.SysDeptDao.findById">
		</association>
	</resultMap>
	<!-- 通过分页查询出来我们要的信息 -->
	<select id="findPageObjects" resultMap="sysUserDeptVo">
		select * from sys_users
		<include refid="queryWhereId" />
		order by createdTime desc
		limit #{startIndex},#{pageSize}
	</select>

	<!-- 通过用户名字来模糊查询记录数 -->
	<select id="getRowCount" resultType="int">
		select count(*) from sys_users
		<include refid="queryWhereId" />
	</select>

	<!-- 对用户表中的用户权限进行更新 -->
	<update id="validById">
		update sys_users
		set valid=#{valid},modifiedUser=#{modifiedUser},modifiedTime=now()
		where id=#{id}
	</update>
	
</mapper>
